* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

html, body {
    height:100%;
}

body {
    line-height: 1.6;
    overflow-y: auto;
    position: relative;
}

.conteudo-principal {
    position: absolute;
    width: 100%;
}

header {
    background: rgba(0, 34, 84, 1);
    color: #fff;
    transition: all 0.2s ease-out;
}

header h1 {
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}
header nav ul li a:hover {
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

.underline{
	position: relative;
	text-transform:uppercase;
}
.underline::after{
	left:0;
	right:0;
	content: "";
	position: absolute;
	height: 2px;
	background: rgb(0, 124, 201);
	bottom: -4px;
	transform: scale(0,1);
	transform-origin: 100% 50%;
	transition: transform .5s ease;
}

.underline:hover::after{
	transform: scale(1,1);
	transform-origin: 0% 50%;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: auto;
    color: #fff;
}

.section {
    padding: 20px 0;
}

.container-sobre {
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.section-sobre {
    /* background-image: url(./assets/paraOndeVamos.JPG);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
    height: calc(100vh - 52px);
}

.img-sobre {
    width: 400px;
}

.container-frentes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card, .project-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: #0e1721;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* TRIGONOMETRY */
/* html {
    height: 100%;
    overflow: hidden;
}
body {
    background: radial-gradient(ellipse at bottom, #0e1721 0%, #090a0f 100%);
    height: 100vh;
} */
.wrap {
    position: relative;
    background: radial-gradient(ellipse at bottom, #0e1721 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
}

.stars {
    width: 100%;
    height: 100%;
    background: transparent;
    animation: animStar 24s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
}
.stars:after {
    opacity: 0;
    animation: fade 24s linear infinite;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
}
.stars:before {
    opacity: 0;
    animation: fade 24s linear infinite;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
}
.stars:nth-child(1):after {
    box-shadow: 710px -27px 2px rgba(255, 255, 255, 0.42) , 820.0565162951px 149.016994375px 2px rgba(255, 255, 255, 0.91) , 428.0565162951px -280.983005625px 2px rgba(255, 255, 255, 0.5) , 511.0565162951px 224.016994375px 2px rgba(255, 255, 255, 0.88) , 787.0169943749px 561.7852522925px 2px rgba(255, 255, 255, 0.25) , 512.0169943749px 549.7852522925px 2px rgba(255, 255, 255, 0.82) , 427.0169943749px 41.7852522925px 2px rgba(255, 255, 255, 0.93) , 305.7852522924px 571.016994375px 2px rgba(255, 255, 255, 0.32) , 232.7852522924px 795.016994375px 2px rgba(255, 255, 255, 0.14) , 549.7852522924px 365.016994375px 2px rgba(255, 255, 255, 0.69) , 90.0169943749px 944.0565162952px 2px rgba(255, 255, 255, 0.76) , 96.0169943749px 833.0565162952px 2px rgba(255, 255, 255, 0.31) , -256.9830056251px 484.0565162952px 2px rgba(255, 255, 255, 0.45) , -246.0000000001px 645px 2px rgba(255, 255, 255, 0.15) , -287.0000000001px 731px 2px rgba(255, 255, 255, 0.5) , -319.0000000001px 637px 2px rgba(255, 255, 255, 0.56) , -877.0169943751px 554.0565162951px 2px rgba(255, 255, 255, 0.06) , -751.0169943751px 423.0565162951px 2px rgba(255, 255, 255, 0.76) , -522.0169943751px 946.0565162951px 2px rgba(255, 255, 255, 0.43) , -962.7852522926px 369.0169943749px 2px rgba(255, 255, 255, 0.69) , -791.7852522926px 284.0169943749px 2px rgba(255, 255, 255, 0.53) , -683.7852522926px 664.0169943749px 2px rgba(255, 255, 255, 0.79) , -1377.0169943745px 190.7852522924px 2px rgba(255, 255, 255, 0.78) , -1259.0169943745px 395.7852522924px 2px rgba(255, 255, 255, 0.99) , -868.0169943745px 133.7852522924px 2px rgba(255, 255, 255, 0.8) , -960.0565162877px -183.9830056243px 2px rgba(255, 255, 255, 0.76) , -1470.0565162877px -59.9830056243px 2px rgba(255, 255, 255, 0.05) , -1418.0565162877px -240.9830056243px 2px rgba(255, 255, 255, 0.5) , -1107.9999999244px -399.9999999899px 2px rgba(255, 255, 255, 0.54) , -1169.9999999244px -384.9999999899px 2px rgba(255, 255, 255, 0.91) , -1329.9999999244px -475.9999999899px 2px rgba(255, 255, 255, 0.87) , -1376.0565156815px -579.0169942828px 2px rgba(255, 255, 255, 0.39) , -1488.0565156815px -518.0169942828px 2px rgba(255, 255, 255, 0.43) , -1177.0565156815px -818.0169942828px 2px rgba(255, 255, 255, 0.77) , -1276.0169902307px -1085.785251612px 2px rgba(255, 255, 255, 0.36) , -1034.0169902307px -769.785251612px 2px rgba(255, 255, 255, 0.48) , -1037.0169902307px -915.785251612px 2px rgba(255, 255, 255, 0.9) , -1140.7852282874px -1349.0169901025px 2px rgba(255, 255, 255, 0.54) , -702.7852282874px -1391.0169901025px 2px rgba(255, 255, 255, 0.13) , -587.7852282874px -1358.0169901025px 2px rgba(255, 255, 255, 0.06) , -872.0168723881px -1022.056492904px 2px rgba(255, 255, 255, 0.24) , -464.0168723881px -1286.056492904px 2px rgba(255, 255, 255, 0.03) , -762.0168723881px -1460.056492904px 2px rgba(255, 255, 255, 0.07) , -331.9994462552px -1035.9998861884px 2px rgba(255, 255, 255, 0.25) , -22.9994462552px -1071.9998861884px 2px rgba(255, 255, 255, 0.52) , -134.9994462552px -1530.9998861884px 2px rgba(255, 255, 255, 0.85) , -149.9807273552px -1392.0560166132px 2px rgba(255, 255, 255, 0.09) , -260.9807273552px -1135.0560166132px 2px rgba(255, 255, 255, 0.47) , -113.9807273552px -1044.0560166132px 2px rgba(255, 255, 255, 0.7) , 550.7938496427px -1344.0149900176px 2px rgba(255, 255, 255, 0.09) , 249.7938496427px -1041.0149900176px 2px rgba(255, 255, 255, 0.98) , 194.7938496427px -825.0149900176px 2px rgba(255, 255, 255, 0.05) , 775.0470459454px -833.7778305728px 2px rgba(255, 255, 255, 0.93) , 387.0470459454px -719.7778305728px 2px rgba(255, 255, 255, 0.38) , 382.0470459454px -632.7778305728px 2px rgba(255, 255, 255, 0.5) , 859.1546227893px -653.9914067835px 2px rgba(255, 255, 255, 0.87) , 370.1546227893px -661.9914067835px 2px rgba(255, 255, 255, 0.79) , 374.1546227893px -330.9914067835px 2px rgba(255, 255, 255, 0.06) , 873.3012240418px -128.9172590474px 2px rgba(255, 255, 255, 0.19) , 422.3012240418px -108.9172590474px 2px rgba(255, 255, 255, 0.3) , 494.3012240418px -370.9172590474px 2px rgba(255, 255, 255, 0.28);
}
.stars:nth-child(1):before {
    box-shadow: 661px -320px 2px rgba(255, 255, 255, 0.48) , 563.0565162951px -261.983005625px 2px rgba(255, 255, 255, 0.67) , 924.0565162951px -280.983005625px 2px rgba(255, 255, 255, 0.13) , 811.0565162951px -65.983005625px 2px rgba(255, 255, 255, 0.09) , 470.0169943749px 274.7852522925px 2px #fff , 311.0169943749px 380.7852522925px 2px rgba(255, 255, 255, 0.78) , 769.0169943749px 34.7852522925px 2px rgba(255, 255, 255, 0.44) , -6.2147477076px 438.016994375px 2px rgba(255, 255, 255, 0.84) , 487.7852522924px 469.016994375px 2px rgba(255, 255, 255, 0.44) , 575.7852522924px 520.016994375px 2px rgba(255, 255, 255, 0.26) , -279.9830056251px 391.0565162952px 2px rgba(255, 255, 255, 0.5) , 307.0169943749px 750.0565162952px 2px rgba(255, 255, 255, 0.31) , -202.9830056251px 740.0565162952px 2px rgba(255, 255, 255, 0.51) , -534.0000000001px 459px 2px rgba(255, 255, 255, 0.81) , -125.0000000001px 963px 2px rgba(255, 255, 255, 0.87) , -169.0000000001px 901px 2px rgba(255, 255, 255, 0.25) , -452.0169943751px 531.0565162951px 2px rgba(255, 255, 255, 0.43) , -812.0169943751px 750.0565162951px 2px rgba(255, 255, 255, 0.11) , -835.0169943751px 794.0565162951px 2px rgba(255, 255, 255, 0.63) , -836.7852522926px 571.0169943749px 2px rgba(255, 255, 255, 0.76) , -653.7852522926px 641.0169943749px 2px rgba(255, 255, 255, 0.7) , -923.7852522926px 651.0169943749px 2px rgba(255, 255, 255, 0.26) , -1168.0169943745px 410.7852522924px 2px rgba(255, 255, 255, 0.34) , -1020.0169943745px 333.7852522924px 2px rgba(255, 255, 255, 0.75) , -960.0169943745px 100.7852522924px 2px rgba(255, 255, 255, 0.88) , -1478.0565162877px -170.9830056243px 2px rgba(255, 255, 255, 0.3) , -1003.0565162877px -158.9830056243px 2px rgba(255, 255, 255, 0.1) , -1000.0565162877px 127.0169943757px 2px rgba(255, 255, 255, 0.76) , -1124.9999999244px -523.9999999899px 2px rgba(255, 255, 255, 0.75) , -1219.9999999244px -359.9999999899px 2px rgba(255, 255, 255, 0.29) , -1042.9999999244px -220.9999999899px 2px rgba(255, 255, 255, 0.13) , -963.0565156815px -554.0169942828px 2px rgba(255, 255, 255, 0.5) , -1421.0565156815px -414.0169942828px 2px rgba(255, 255, 255, 0.5) , -1448.0565156815px -339.0169942828px 2px rgba(255, 255, 255, 0.83) , -1371.0169902307px -674.785251612px 2px rgba(255, 255, 255, 0.45) , -952.0169902306px -692.785251612px 2px rgba(255, 255, 255, 0.45) , -1123.0169902307px -810.785251612px 2px rgba(255, 255, 255, 0.09) , -990.7852282874px -1358.0169901025px 2px rgba(255, 255, 255, 0.11) , -1168.7852282874px -1262.0169901025px 2px rgba(255, 255, 255, 0.01) , -1073.7852282874px -1231.0169901025px 2px rgba(255, 255, 255, 0.68) , -585.0168723881px -1217.056492904px 2px rgba(255, 255, 255, 0.46) , -329.0168723881px -1079.056492904px 2px rgba(255, 255, 255, 0.19) , -569.0168723881px -1118.056492904px 2px rgba(255, 255, 255, 0.85) , -98.9994462552px -1129.9998861884px 2px rgba(255, 255, 255, 0.32) , -327.9994462552px -1019.9998861884px 2px rgba(255, 255, 255, 0.76) , -587.9994462552px -1015.9998861884px 2px rgba(255, 255, 255, 0.44) , -268.9807273552px -1067.0560166132px 2px rgba(255, 255, 255, 0.34) , -133.9807273552px -987.0560166132px 2px rgba(255, 255, 255, 0.36) , 2.0192726448px -1441.0560166132px 2px rgba(255, 255, 255, 0.53) , 433.7938496427px -1036.0149900176px 2px rgba(255, 255, 255, 0.83) , 317.7938496427px -918.0149900176px 2px rgba(255, 255, 255, 0.32) , 77.7938496427px -1155.0149900176px 2px rgba(255, 255, 255, 0.93) , 509.0470459454px -1186.7778305728px 2px rgba(255, 255, 255, 0.9) , 701.0470459454px -814.7778305728px 2px rgba(255, 255, 255, 0.4) , 356.0470459454px -635.7778305728px 2px rgba(255, 255, 255, 0.79) , 370.1546227893px -714.9914067835px 2px rgba(255, 255, 255, 0.25) , 911.1546227893px -705.9914067835px 2px rgba(255, 255, 255, 0.43) , 629.1546227893px -810.9914067835px 2px rgba(255, 255, 255, 0.35) , 601.3012240418px -232.9172590474px 2px rgba(255, 255, 255, 0.31) , 774.3012240418px -399.9172590474px 2px rgba(255, 255, 255, 0.86) , 746.3012240418px -193.9172590474px 2px rgba(255, 255, 255, 0.86);
}
.stars:nth-child(2) {
    animation-delay: 6s;
}
.stars:nth-child(2):after {
    box-shadow: 543px -490px 2px rgba(255, 255, 255, 0.95) , 771.0565162951px -45.983005625px 2px rgba(255, 255, 255, 0.5) , 632.0565162951px 170.016994375px 2px rgba(255, 255, 255, 0.42) , 479.0565162951px 17.016994375px 2px rgba(255, 255, 255, 0.97) , 615.0169943749px 164.7852522925px 2px rgba(255, 255, 255, 0.85) , 383.0169943749px 523.7852522925px 2px rgba(255, 255, 255, 0.28) , 478.0169943749px 199.7852522925px 2px rgba(255, 255, 255, 0.93) , 273.7852522924px 735.016994375px 2px rgba(255, 255, 255, 0.49) , 515.7852522924px 693.016994375px 2px rgba(255, 255, 255, 0.55) , 281.7852522924px 452.016994375px 2px rgba(255, 255, 255, 0.91) , -75.9830056251px 572.0565162952px 2px rgba(255, 255, 255, 0.05) , -237.9830056251px 454.0565162952px 2px rgba(255, 255, 255, 0.61) , 249.0169943749px 669.0565162952px 2px rgba(255, 255, 255, 0.48) , -514.0000000001px 758px 2px rgba(255, 255, 255, 0.25) , -334.0000000001px 549px 2px rgba(255, 255, 255, 0.63) , -43.0000000001px 640px 2px rgba(255, 255, 255, 0.1) , -377.0169943751px 848.0565162951px 2px rgba(255, 255, 255, 0.86) , -646.0169943751px 535.0565162951px 2px rgba(255, 255, 255, 0.34) , -579.0169943751px 623.0565162951px 2px rgba(255, 255, 255, 0.45) , -883.7852522926px 332.0169943749px 2px rgba(255, 255, 255, 0.45) , -770.7852522926px 602.0169943749px 2px rgba(255, 255, 255, 0.94) , -635.7852522926px 683.0169943749px 2px rgba(255, 255, 255, 0.39) , -1154.0169943745px 111.7852522924px 2px rgba(255, 255, 255, 0.19) , -1175.0169943745px 501.7852522924px 2px rgba(255, 255, 255, 0.49) , -1141.0169943745px 192.7852522924px 2px rgba(255, 255, 255, 0.37) , -1291.0565162877px 229.0169943757px 2px rgba(255, 255, 255, 0.81) , -1061.0565162877px -285.9830056243px 2px rgba(255, 255, 255, 0.71) , -1379.0565162877px 13.0169943757px 2px rgba(255, 255, 255, 0.66) , -1349.9999999244px -293.9999999899px 2px rgba(255, 255, 255, 0.1) , -1234.9999999244px -236.9999999899px 2px rgba(255, 255, 255, 0.4) , -1425.9999999244px -222.9999999899px 2px rgba(255, 255, 255, 0.47) , -1105.0565156815px -803.0169942828px 2px rgba(255, 255, 255, 0.7) , -1079.0565156815px -393.0169942828px 2px rgba(255, 255, 255, 0.26) , -958.0565156815px -749.0169942828px 2px rgba(255, 255, 255, 0.72) , -858.0169902306px -752.785251612px 2px rgba(255, 255, 255, 0.64) , -990.0169902306px -619.785251612px 2px rgba(255, 255, 255, 0.84) , -1024.0169902307px -1122.785251612px 2px rgba(255, 255, 255, 0.54) , -943.7852282874px -1032.0169901025px 2px rgba(255, 255, 255, 0.95) , -611.7852282874px -827.0169901025px 2px rgba(255, 255, 255, 0.98) , -934.7852282874px -1111.0169901025px 2px rgba(255, 255, 255, 0.7) , -469.0168723881px -1256.056492904px 2px rgba(255, 255, 255, 0.24) , -800.0168723881px -1350.056492904px 2px rgba(255, 255, 255, 0.23) , -754.0168723881px -1047.056492904px 2px rgba(255, 255, 255, 0.86) , -323.9994462552px -1458.9998861884px 2px rgba(255, 255, 255, 0.38) , -40.9994462552px -1481.9998861884px 2px rgba(255, 255, 255, 0.31) , -222.9994462552px -1045.9998861884px 2px rgba(255, 255, 255, 0.69) , 243.0192726448px -1193.0560166132px 2px rgba(255, 255, 255, 0.78) , -148.9807273552px -958.0560166132px 2px rgba(255, 255, 255, 0.69) , -285.9807273552px -1057.0560166132px 2px rgba(255, 255, 255, 0.07) , 379.7938496427px -1208.0149900176px 2px rgba(255, 255, 255, 0.14) , 485.7938496427px -1095.0149900176px 2px rgba(255, 255, 255, 0.84) , 116.7938496427px -870.0149900176px 2px rgba(255, 255, 255, 0.91) , 451.0470459454px -960.7778305728px 2px rgba(255, 255, 255, 0.93) , 602.0470459454px -680.7778305728px 2px rgba(255, 255, 255, 0.13) , 717.0470459454px -1133.7778305728px 2px rgba(255, 255, 255, 0.72) , 733.1546227893px -413.9914067835px 2px rgba(255, 255, 255, 0.97) , 734.1546227893px -530.9914067835px 2px rgba(255, 255, 255, 0.69) , 586.1546227893px -832.9914067835px 2px rgba(255, 255, 255, 0.58) , 658.3012240418px -231.9172590474px 2px rgba(255, 255, 255, 0.46) , 545.3012240418px -134.9172590474px 2px rgba(255, 255, 255, 0.35) , 566.3012240418px -463.9172590474px 2px rgba(255, 255, 255, 0.29);
    animation-delay: 6s;
}
.stars:nth-child(2):before {
    box-shadow: 938px -198px 2px rgba(255, 255, 255, 0.41) , 477.0565162951px 135.016994375px 2px rgba(255, 255, 255, 0.15) , 390.0565162951px 44.016994375px 2px rgba(255, 255, 255, 0.09) , 557.0565162951px -130.983005625px 2px rgba(255, 255, 255, 0.59) , 648.0169943749px 38.7852522925px 2px rgba(255, 255, 255, 0.73) , 306.0169943749px 206.7852522925px 2px rgba(255, 255, 255, 0.42) , 214.0169943749px 560.7852522925px 2px rgba(255, 255, 255, 0.89) , 519.7852522924px 671.016994375px 2px rgba(255, 255, 255, 0.83) , 304.7852522924px 468.016994375px 2px rgba(255, 255, 255, 0.1) , 16.7852522924px 443.016994375px 2px rgba(255, 255, 255, 0.99) , -229.9830056251px 800.0565162952px 2px rgba(255, 255, 255, 0.77) , 274.0169943749px 474.0565162952px 2px rgba(255, 255, 255, 0.94) , -240.9830056251px 525.0565162952px 2px rgba(255, 255, 255, 0.95) , -144.0000000001px 764px 2px rgba(255, 255, 255, 0.2) , -67.0000000001px 505px 2px rgba(255, 255, 255, 0.82) , -73.0000000001px 852px 2px rgba(255, 255, 255, 0.8) , -528.0169943751px 654.0565162951px 2px rgba(255, 255, 255, 0.87) , -824.0169943751px 675.0565162951px 2px rgba(255, 255, 255, 0.18) , -599.0169943751px 538.0565162951px 2px rgba(255, 255, 255, 0.46) , -964.7852522926px 417.0169943749px 2px #fff , -603.7852522926px 375.0169943749px 2px rgba(255, 255, 255, 0.68) , -1058.7852522926px 775.0169943749px 2px rgba(255, 255, 255, 0.53) , -1047.0169943745px 477.7852522924px 2px rgba(255, 255, 255, 0.3) , -1225.0169943745px 284.7852522924px 2px rgba(255, 255, 255, 0.99) , -1335.0169943745px 389.7852522924px 2px rgba(255, 255, 255, 0.63) , -1549.0565162877px -262.9830056243px 2px rgba(255, 255, 255, 0.93) , -1251.0565162877px 74.0169943757px 2px rgba(255, 255, 255, 0.03) , -1238.0565162877px -20.9830056243px 2px rgba(255, 255, 255, 0.63) , -1181.9999999244px -263.9999999899px 2px rgba(255, 255, 255, 0.26) , -1500.9999999244px -469.9999999899px 2px rgba(255, 255, 255, 0.6) , -1365.9999999244px -255.9999999899px 2px rgba(255, 255, 255, 0.41) , -1408.0565156815px -696.0169942828px 2px rgba(255, 255, 255, 0.18) , -1130.0565156815px -375.0169942828px 2px rgba(255, 255, 255, 0.12) , -1167.0565156815px -407.0169942828px 2px rgba(255, 255, 255, 0.05) , -967.0169902306px -632.785251612px 2px rgba(255, 255, 255, 0.27) , -1252.0169902307px -658.785251612px 2px rgba(255, 255, 255, 0.22) , -1217.0169902307px -1055.785251612px 2px rgba(255, 255, 255, 0.72) , -639.7852282874px -941.0169901025px 2px rgba(255, 255, 255, 0.92) , -605.7852282874px -986.0169901025px 2px rgba(255, 255, 255, 0.15) , -990.7852282874px -942.0169901025px 2px rgba(255, 255, 255, 0.73) , -488.0168723881px -1359.056492904px 2px rgba(255, 255, 255, 0.61) , -734.0168723881px -1381.056492904px 2px rgba(255, 255, 255, 0.01) , -757.0168723881px -1100.056492904px 2px rgba(255, 255, 255, 0.83) , -457.9994462552px -1021.9998861884px 2px rgba(255, 255, 255, 0.01) , -163.9994462552px -1095.9998861884px 2px rgba(255, 255, 255, 0.21) , -266.9994462552px -1204.9998861884px 2px rgba(255, 255, 255, 0.07) , 87.0192726448px -1131.0560166132px 2px rgba(255, 255, 255, 0.98) , 41.0192726448px -1239.0560166132px 2px rgba(255, 255, 255, 0.51) , -241.9807273552px -1498.0560166132px 2px rgba(255, 255, 255, 0.94) , 398.7938496427px -1337.0149900176px 2px rgba(255, 255, 255, 0.59) , 499.7938496427px -1330.0149900176px 2px rgba(255, 255, 255, 0.9) , 340.7938496427px -1144.0149900176px 2px rgba(255, 255, 255, 0.82) , 362.0470459454px -946.7778305728px 2px rgba(255, 255, 255, 0.11) , 284.0470459454px -1111.7778305728px 2px rgba(255, 255, 255, 0.34) , 764.0470459454px -685.7778305728px 2px rgba(255, 255, 255, 0.61) , 805.1546227893px -477.9914067835px 2px rgba(255, 255, 255, 0.55) , 616.1546227893px -365.9914067835px 2px rgba(255, 255, 255, 0.5) , 701.1546227893px -444.9914067835px 2px rgba(255, 255, 255, 0.7) , 711.3012240418px -47.9172590474px 2px rgba(255, 255, 255, 0.23) , 557.3012240418px -129.9172590474px 2px rgba(255, 255, 255, 0.89) , 829.3012240418px -401.9172590474px 2px rgba(255, 255, 255, 0.97);
    animation-delay: 6s;
}
.stars:nth-child(3) {
    animation-delay: 12s;
}
.stars:nth-child(3):after {
    box-shadow: 504px -472px 2px rgba(255, 255, 255, 0.06) , 538.0565162951px -64.983005625px 2px rgba(255, 255, 255, 0.6) , 601.0565162951px -77.983005625px 2px rgba(255, 255, 255, 0.43) , 645.0565162951px -222.983005625px 2px rgba(255, 255, 255, 0.17) , 254.0169943749px 376.7852522925px 2px rgba(255, 255, 255, 0.04) , 481.0169943749px 70.7852522925px 2px rgba(255, 255, 255, 0.05) , 374.0169943749px 341.7852522925px 2px rgba(255, 255, 255, 0.83) , 306.7852522924px 427.016994375px 2px rgba(255, 255, 255, 0.71) , 8.7852522924px 512.016994375px 2px rgba(255, 255, 255, 0.4) , 582.7852522924px 369.016994375px 2px rgba(255, 255, 255, 0.06) , -196.9830056251px 855.0565162952px 2px rgba(255, 255, 255, 0.11) , 159.0169943749px 508.0565162952px 2px rgba(255, 255, 255, 0.87) , 211.0169943749px 436.0565162952px 2px rgba(255, 255, 255, 0.78) , -112.0000000001px 611px 2px rgba(255, 255, 255, 0.7) , -441.0000000001px 436px 2px rgba(255, 255, 255, 0.66) , -118.0000000001px 550px 2px rgba(255, 255, 255, 0.18) , -658.0169943751px 807.0565162951px 2px rgba(255, 255, 255, 0.99) , -384.0169943751px 621.0565162951px 2px rgba(255, 255, 255, 0.39) , -508.0169943751px 403.0565162951px 2px rgba(255, 255, 255, 0.92) , -826.7852522926px 749.0169943749px 2px rgba(255, 255, 255, 0.93) , -834.7852522926px 453.0169943749px 2px rgba(255, 255, 255, 0.76) , -694.7852522926px 674.0169943749px 2px rgba(255, 255, 255, 0.88) , -1345.0169943745px 1.7852522924px 2px rgba(255, 255, 255, 0.77) , -984.0169943745px 190.7852522924px 2px rgba(255, 255, 255, 0.42) , -931.0169943745px 237.7852522924px 2px rgba(255, 255, 255, 0.75) , -1499.0565162877px -86.9830056243px 2px rgba(255, 255, 255, 0.99) , -1356.0565162877px -207.9830056243px 2px rgba(255, 255, 255, 0.19) , -1157.0565162877px -161.9830056243px 2px rgba(255, 255, 255, 0.73) , -1331.9999999244px -321.9999999899px 2px rgba(255, 255, 255, 0.65) , -1373.9999999244px -158.9999999899px 2px rgba(255, 255, 255, 0.59) , -1239.9999999244px -414.9999999899px 2px rgba(255, 255, 255, 0.66) , -1166.0565156815px -317.0169942828px 2px rgba(255, 255, 255, 0.16) , -1531.0565156815px -702.0169942828px 2px rgba(255, 255, 255, 0.54) , -1465.0565156815px -510.0169942828px 2px rgba(255, 255, 255, 0.22) , -1372.0169902307px -741.785251612px 2px rgba(255, 255, 255, 0.76) , -1038.0169902307px -635.785251612px 2px rgba(255, 255, 255, 0.33) , -1392.0169902307px -744.785251612px 2px rgba(255, 255, 255, 0.25) , -1077.7852282874px -1252.0169901025px 2px rgba(255, 255, 255, 0.05) , -853.7852282874px -1262.0169901025px 2px rgba(255, 255, 255, 0.76) , -757.7852282874px -864.0169901025px 2px rgba(255, 255, 255, 0.97) , -349.0168723881px -1323.056492904px 2px rgba(255, 255, 255, 0.74) , -865.0168723881px -1153.056492904px 2px rgba(255, 255, 255, 0.8) , -396.0168723881px -1168.056492904px 2px rgba(255, 255, 255, 0.36) , -32.9994462552px -1546.9998861884px 2px rgba(255, 255, 255, 0.92) , -597.9994462552px -1595.9998861884px 2px #fff , -54.9994462552px -1564.9998861884px 2px rgba(255, 255, 255, 0.6) , -91.9807273552px -1092.0560166132px 2px rgba(255, 255, 255, 0.86) , -232.9807273552px -960.0560166132px 2px rgba(255, 255, 255, 0.68) , -141.9807273552px -1180.0560166132px 2px rgba(255, 255, 255, 0.69) , 550.7938496427px -1283.0149900176px 2px rgba(255, 255, 255, 0.23) , 452.7938496427px -1073.0149900176px 2px rgba(255, 255, 255, 0.07) , 466.7938496427px -830.0149900176px 2px rgba(255, 255, 255, 0.9) , 575.0470459454px -1161.7778305728px 2px rgba(255, 255, 255, 0.23) , 646.0470459454px -1180.7778305728px 2px rgba(255, 255, 255, 0.54) , 597.0470459454px -682.7778305728px 2px rgba(255, 255, 255, 0.91) , 925.1546227893px -401.9914067835px 2px rgba(255, 255, 255, 0.42) , 585.1546227893px -853.9914067835px 2px rgba(255, 255, 255, 0.09) , 689.1546227893px -782.9914067835px 2px rgba(255, 255, 255, 0.04) , 885.3012240418px -568.9172590474px 2px rgba(255, 255, 255, 0.84) , 652.3012240418px -509.9172590474px 2px rgba(255, 255, 255, 0.97) , 990.3012240418px -249.9172590474px 2px rgba(255, 255, 255, 0.52);
    animation-delay: 12s;
}
.stars:nth-child(3):before {
    box-shadow: 622px -17px 2px rgba(255, 255, 255, 0.76) , 480.0565162951px -124.983005625px 2px rgba(255, 255, 255, 0.99) , 796.0565162951px -255.983005625px 2px rgba(255, 255, 255, 0.18) , 788.0565162951px 142.016994375px 2px rgba(255, 255, 255, 0.59) , 776.0169943749px 104.7852522925px 2px rgba(255, 255, 255, 0.46) , 516.0169943749px 203.7852522925px 2px rgba(255, 255, 255, 0.85) , 709.0169943749px 494.7852522925px 2px rgba(255, 255, 255, 0.63) , 208.7852522924px 577.016994375px 2px rgba(255, 255, 255, 0.58) , 113.7852522924px 707.016994375px 2px rgba(255, 255, 255, 0.91) , 403.7852522924px 580.016994375px 2px rgba(255, 255, 255, 0.17) , -203.9830056251px 917.0565162952px 2px rgba(255, 255, 255, 0.45) , 120.0169943749px 403.0565162952px 2px rgba(255, 255, 255, 0.21) , 292.0169943749px 927.0565162952px 2px rgba(255, 255, 255, 0.76) , -371.0000000001px 662px 2px rgba(255, 255, 255, 0.32) , -505.0000000001px 476px 2px rgba(255, 255, 255, 0.88) , -261.0000000001px 795px 2px rgba(255, 255, 255, 0.06) , -596.0169943751px 621.0565162951px 2px rgba(255, 255, 255, 0.24) , -584.0169943751px 574.0565162951px 2px rgba(255, 255, 255, 0.77) , -398.0169943751px 832.0565162951px 2px rgba(255, 255, 255, 0.28) , -1171.7852522926px 385.0169943749px 2px rgba(255, 255, 255, 0.47) , -774.7852522926px 259.0169943749px 2px rgba(255, 255, 255, 0.73) , -747.7852522926px 452.0169943749px 2px rgba(255, 255, 255, 0.23) , -999.0169943745px 32.7852522924px 2px rgba(255, 255, 255, 0.54) , -1159.0169943745px 103.7852522924px 2px rgba(255, 255, 255, 0.92) , -1161.0169943745px 378.7852522924px 2px rgba(255, 255, 255, 0.01) , -1439.0565162877px -175.9830056243px 2px rgba(255, 255, 255, 0.54) , -1356.0565162877px 107.0169943757px 2px rgba(255, 255, 255, 0.59) , -992.0565162877px -30.9830056243px 2px rgba(255, 255, 255, 0.67) , -1592.9999999244px -87.9999999899px 2px rgba(255, 255, 255, 0.36) , -1257.9999999244px -314.9999999899px 2px rgba(255, 255, 255, 0.4) , -1218.9999999244px -31.9999999899px 2px rgba(255, 255, 255, 0.75) , -1396.0565156815px -505.0169942828px 2px rgba(255, 255, 255, 0.72) , -1327.0565156815px -443.0169942828px 2px rgba(255, 255, 255, 0.08) , -1188.0565156815px -762.0169942828px 2px rgba(255, 255, 255, 0.17) , -956.0169902306px -1186.785251612px 2px rgba(255, 255, 255, 0.2) , -957.0169902306px -640.785251612px 2px rgba(255, 255, 255, 0.43) , -908.0169902306px -879.785251612px 2px rgba(255, 255, 255, 0.63) , -717.7852282874px -1325.0169901025px 2px rgba(255, 255, 255, 0.99) , -742.7852282874px -1234.0169901025px 2px rgba(255, 255, 255, 0.36) , -1152.7852282874px -1141.0169901025px 2px rgba(255, 255, 255, 0.97) , -751.0168723881px -1353.056492904px 2px rgba(255, 255, 255, 0.81) , -611.0168723881px -1360.056492904px 2px rgba(255, 255, 255, 0.3) , -741.0168723881px -1093.056492904px 2px rgba(255, 255, 255, 0.44) , -430.9994462552px -1012.9998861884px 2px rgba(255, 255, 255, 0.98) , -398.9994462552px -1352.9998861884px 2px rgba(255, 255, 255, 0.15) , -66.9994462552px -1168.9998861884px 2px rgba(255, 255, 255, 0.04) , 189.0192726448px -1462.0560166132px 2px rgba(255, 255, 255, 0.84) , 113.0192726448px -1119.0560166132px 2px rgba(255, 255, 255, 0.58) , -164.9807273552px -1029.0560166132px 2px rgba(255, 255, 255, 0.81) , 228.7938496427px -1043.0149900176px 2px rgba(255, 255, 255, 0.81) , 284.7938496427px -1390.0149900176px 2px rgba(255, 255, 255, 0.24) , 144.7938496427px -1135.0149900176px 2px rgba(255, 255, 255, 0.87) , 345.0470459454px -1143.7778305728px 2px rgba(255, 255, 255, 0.79) , 699.0470459454px -801.7778305728px 2px rgba(255, 255, 255, 0.22) , 653.0470459454px -1065.7778305728px 2px rgba(255, 255, 255, 0.07) , 777.1546227893px -365.9914067835px 2px rgba(255, 255, 255, 0.23) , 406.1546227893px -906.9914067835px 2px rgba(255, 255, 255, 0.21) , 886.1546227893px -654.9914067835px 2px rgba(255, 255, 255, 0.94) , 709.3012240418px -119.9172590474px 2px rgba(255, 255, 255, 0.88) , 554.3012240418px -501.9172590474px 2px rgba(255, 255, 255, 0.75) , 915.3012240418px -580.9172590474px 2px rgba(255, 255, 255, 0.05);
    animation-delay: 12s;
}
.stars:nth-child(4) {
    animation-delay: 18s;
}
.stars:nth-child(4):after {
    box-shadow: 582px -174px 2px rgba(255, 255, 255, 0.68) , 660.0565162951px -239.983005625px 2px rgba(255, 255, 255, 0.04) , 839.0565162951px -149.983005625px 2px rgba(255, 255, 255, 0.33) , 671.0565162951px 309.016994375px 2px rgba(255, 255, 255, 0.61) , 652.0169943749px 391.7852522925px 2px rgba(255, 255, 255, 0.18) , 225.0169943749px 544.7852522925px 2px rgba(255, 255, 255, 0.72) , 243.0169943749px 320.7852522925px 2px rgba(255, 255, 255, 0.63) , 205.7852522924px 487.016994375px 2px rgba(255, 255, 255, 0.83) , 581.7852522924px 271.016994375px 2px rgba(255, 255, 255, 0.73) , 473.7852522924px 770.016994375px 2px rgba(255, 255, 255, 0.6) , 168.0169943749px 444.0565162952px 2px rgba(255, 255, 255, 0.23) , -14.9830056251px 928.0565162952px 2px rgba(255, 255, 255, 0.44) , -229.9830056251px 897.0565162952px 2px rgba(255, 255, 255, 0.03) , -5.0000000001px 749px 2px rgba(255, 255, 255, 0.25) , -544.0000000001px 713px 2px rgba(255, 255, 255, 0.16) , -373.0000000001px 404px 2px rgba(255, 255, 255, 0.23) , -882.0169943751px 729.0565162951px 2px rgba(255, 255, 255, 0.91) , -875.0169943751px 524.0565162951px 2px rgba(255, 255, 255, 0.31) , -739.0169943751px 654.0565162951px 2px rgba(255, 255, 255, 0.58) , -686.7852522926px 379.0169943749px 2px rgba(255, 255, 255, 0.86) , -1014.7852522926px 358.0169943749px 2px rgba(255, 255, 255, 0.07) , -953.7852522926px 253.0169943749px 2px rgba(255, 255, 255, 0.11) , -1059.0169943745px 36.7852522924px 2px rgba(255, 255, 255, 0.45) , -810.0169943745px 364.7852522924px 2px rgba(255, 255, 255, 0.64) , -1216.0169943745px 335.7852522924px 2px rgba(255, 255, 255, 0.88) , -1129.0565162877px -229.9830056243px 2px rgba(255, 255, 255, 0.14) , -1367.0565162877px 300.0169943757px 2px rgba(255, 255, 255, 0.52) , -1328.0565162877px -183.9830056243px 2px rgba(255, 255, 255, 0.08) , -1399.9999999244px -415.9999999899px 2px rgba(255, 255, 255, 0.39) , -1254.9999999244px -255.9999999899px 2px rgba(255, 255, 255, 0.88) , -1006.9999999244px -283.9999999899px 2px rgba(255, 255, 255, 0.49) , -1275.0565156815px -594.0169942828px 2px rgba(255, 255, 255, 0.99) , -1388.0565156815px -480.0169942828px 2px rgba(255, 255, 255, 0.8) , -1443.0565156815px -801.0169942828px 2px rgba(255, 255, 255, 0.62) , -1263.0169902307px -995.785251612px 2px rgba(255, 255, 255, 0.9) , -1272.0169902307px -1080.785251612px 2px rgba(255, 255, 255, 0.94) , -1200.0169902307px -1001.785251612px 2px rgba(255, 255, 255, 0.66) , -608.7852282874px -924.0169901025px 2px rgba(255, 255, 255, 0.8) , -1150.7852282874px -1100.0169901025px 2px rgba(255, 255, 255, 0.08) , -1012.7852282874px -1131.0169901025px 2px rgba(255, 255, 255, 0.69) , -531.0168723881px -1437.056492904px 2px rgba(255, 255, 255, 0.85) , -897.0168723881px -1269.056492904px 2px rgba(255, 255, 255, 0.49) , -359.0168723881px -1233.056492904px 2px rgba(255, 255, 255, 0.68) , -38.9994462552px -1222.9998861884px 2px rgba(255, 255, 255, 0.59) , -124.9994462552px -1040.9998861884px 2px rgba(255, 255, 255, 0.58) , -405.9994462552px -1264.9998861884px 2px rgba(255, 255, 255, 0.83) , 307.0192726448px -1053.0560166132px 2px rgba(255, 255, 255, 0.51) , 218.0192726448px -1312.0560166132px 2px rgba(255, 255, 255, 0.43) , -14.9807273552px -1249.0560166132px 2px rgba(255, 255, 255, 0.8) , 298.7938496427px -1089.0149900176px 2px rgba(255, 255, 255, 0.61) , 393.7938496427px -988.0149900176px 2px rgba(255, 255, 255, 0.07) , 565.7938496427px -1273.0149900176px 2px rgba(255, 255, 255, 0.16) , 279.0470459454px -971.7778305728px 2px rgba(255, 255, 255, 0.12) , 509.0470459454px -1121.7778305728px 2px rgba(255, 255, 255, 0.88) , 387.0470459454px -791.7778305728px 2px rgba(255, 255, 255, 0.25) , 766.1546227893px -770.9914067835px 2px rgba(255, 255, 255, 0.4) , 573.1546227893px -588.9914067835px 2px rgba(255, 255, 255, 0.46) , 689.1546227893px -567.9914067835px 2px rgba(255, 255, 255, 0.97) , 693.3012240418px -114.9172590474px 2px rgba(255, 255, 255, 0.27) , 599.3012240418px -438.9172590474px 2px rgba(255, 255, 255, 0.81) , 403.3012240418px -350.9172590474px 2px rgba(255, 255, 255, 0.99);
    animation-delay: 18s;
}
.stars:nth-child(4):before {
    box-shadow: 943px -553px 2px rgba(255, 255, 255, 0.73) , 384.0565162951px -264.983005625px 2px rgba(255, 255, 255, 0.51) , 714.0565162951px 100.016994375px 2px rgba(255, 255, 255, 0.08) , 905.0565162951px 121.016994375px 2px rgba(255, 255, 255, 0.52) , 713.0169943749px 489.7852522925px 2px rgba(255, 255, 255, 0.51) , 739.0169943749px 28.7852522925px 2px rgba(255, 255, 255, 0.68) , 314.0169943749px 268.7852522925px 2px rgba(255, 255, 255, 0.05) , 105.7852522924px 576.016994375px 2px rgba(255, 255, 255, 0.2) , 565.7852522924px 295.016994375px 2px rgba(255, 255, 255, 0.14) , 461.7852522924px 685.016994375px 2px rgba(255, 255, 255, 0.92) , -245.9830056251px 432.0565162952px 2px rgba(255, 255, 255, 0.09) , 113.0169943749px 787.0565162952px 2px rgba(255, 255, 255, 0.74) , 126.0169943749px 586.0565162952px 2px rgba(255, 255, 255, 0.83) , -116.0000000001px 708px 2px rgba(255, 255, 255, 0.64) , -342.0000000001px 461px 2px rgba(255, 255, 255, 0.11) , -28.0000000001px 763px 2px rgba(255, 255, 255, 0.8) , -590.0169943751px 424.0565162951px 2px rgba(255, 255, 255, 0.01) , -624.0169943751px 530.0565162951px 2px rgba(255, 255, 255, 0.62) , -720.0169943751px 597.0565162951px 2px rgba(255, 255, 255, 0.87) , -1020.7852522926px 213.0169943749px 2px rgba(255, 255, 255, 0.36) , -1047.7852522926px 327.0169943749px 2px rgba(255, 255, 255, 0.25) , -772.7852522926px 339.0169943749px 2px rgba(255, 255, 255, 0.76) , -914.0169943745px 461.7852522924px 2px rgba(255, 255, 255, 0.94) , -1303.0169943745px 470.7852522924px 2px rgba(255, 255, 255, 0.98) , -906.0169943745px 70.7852522924px 2px rgba(255, 255, 255, 0.25) , -1239.0565162877px -281.9830056243px 2px rgba(255, 255, 255, 0.61) , -1151.0565162877px 108.0169943757px 2px rgba(255, 255, 255, 0.21) , -1008.0565162877px 292.0169943757px 2px rgba(255, 255, 255, 0.01) , -1293.9999999244px -404.9999999899px 2px rgba(255, 255, 255, 0.17) , -1196.9999999244px -1.9999999899px 2px rgba(255, 255, 255, 0.11) , -1311.9999999244px -331.9999999899px 2px rgba(255, 255, 255, 0.81) , -979.0565156815px -523.0169942828px 2px rgba(255, 255, 255, 0.33) , -1537.0565156815px -778.0169942828px 2px rgba(255, 255, 255, 0.76) , -1329.0565156815px -392.0169942828px 2px rgba(255, 255, 255, 0.07) , -1317.0169902307px -937.785251612px 2px rgba(255, 255, 255, 0.81) , -914.0169902306px -1031.785251612px 2px rgba(255, 255, 255, 0.59) , -1250.0169902307px -1053.785251612px 2px rgba(255, 255, 255, 0.95) , -976.7852282874px -1092.0169901025px 2px rgba(255, 255, 255, 0.96) , -1036.7852282874px -828.0169901025px 2px rgba(255, 255, 255, 0.18) , -848.7852282874px -1303.0169901025px 2px rgba(255, 255, 255, 0.42) , -527.0168723881px -1471.056492904px 2px rgba(255, 255, 255, 0.36) , -434.0168723881px -1161.056492904px 2px rgba(255, 255, 255, 0.43) , -456.0168723881px -1261.056492904px 2px rgba(255, 255, 255, 0.17) , -168.9994462552px -1355.9998861884px 2px rgba(255, 255, 255, 0.89) , -319.9994462552px -1225.9998861884px 2px rgba(255, 255, 255, 0.07) , -251.9994462552px -1124.9998861884px 2px rgba(255, 255, 255, 0.83) , 209.0192726448px -1436.0560166132px 2px rgba(255, 255, 255, 0.24) , -261.9807273552px -1166.0560166132px 2px rgba(255, 255, 255, 0.07) , 230.0192726448px -995.0560166132px 2px rgba(255, 255, 255, 0.83) , 467.7938496427px -955.0149900176px 2px rgba(255, 255, 255, 0.98) , 233.7938496427px -1383.0149900176px 2px rgba(255, 255, 255, 0.71) , 485.7938496427px -1311.0149900176px 2px rgba(255, 255, 255, 0.43) , 295.0470459454px -849.7778305728px 2px rgba(255, 255, 255, 0.66) , 289.0470459454px -1124.7778305728px 2px rgba(255, 255, 255, 0.91) , 448.0470459454px -1107.7778305728px 2px rgba(255, 255, 255, 0.05) , 492.1546227893px -431.9914067835px 2px rgba(255, 255, 255, 0.77) , 685.1546227893px -608.9914067835px 2px rgba(255, 255, 255, 0.91) , 930.1546227893px -892.9914067835px 2px rgba(255, 255, 255, 0.29) , 954.3012240418px -185.9172590474px 2px rgba(255, 255, 255, 0.93) , 988.3012240418px -143.9172590474px 2px rgba(255, 255, 255, 0.81) , 418.3012240418px -60.9172590474px 2px rgba(255, 255, 255, 0.43);
    animation-delay: 18s;
}
#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes animStar {
    0% {
        transform: scale(1);
   }
    100% {
        transform: scale(0.2);
   }
}
@keyframes fade {
    0% {
        opacity: 0;
   }
    25% {
        opacity: 1;
   }
    75% {
        opacity: 1;
   }
    100% {
        opacity: 0;
   }
}

/* contato */


